.formulario {
  width: calc(50% - 1em);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 15px;
  border-right: 1px solid #a9adb1;
  .tituloFormulario {
    @include titulosContacto;
  }
  .txtFormulario {
    margin: 10px;
    height: 45px;
    @include forms;
  }
  .txtAreaFormulario {
    max-width: 70%;
    min-width: 70%;
    height: 200px;
    max-height: 200px;
    min-height: 200px;
    margin: 15px;
    @include forms;
  }
  .botonFormulario {
    width: 35%;
    height: 45px;
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
    font-weight: 500;
    @include botones;
  }
}
