.contenedorRS {
  width: calc(50% - 1em);
  padding: 15px;
  border-left: 1px solid #a9adb1;
  .tituloRS {
    @include titulosContacto;
  }
  .subcontenedorRS {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .redSocial {   
      margin: 10px 0px;
      height: 80px;
      width: 100%;
      text-align: center;
      padding: 10px;
      font-size: 3em;
      text-decoration: none;
      @include botones;
    }
    .iconGit {
      &:hover {
        color: #6cc644;
      }
    }
    .iconLink:hover {
      color: #0077b5;
    }
    .iconFb:hover {
      color: #3b5998;
    }
    .iconIns:hover {
      color: #833ab4;
    }
  }
}
